@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PhamNguyenTrongTuanMVC.Models.NewsArticle.AddNewsArticleViewModel

<!-- Modal -->
<div class="modal fade"
     id="addNewsArticleModal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold"> Add</span>
                    <span class="fw-light"> News Article </span>
                </h5>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Add" asp-controller="NewsArticle" method="post" id="newNewsArticleForm">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <p class="small">
                        Create a new article using this form, make sure you
                        fill them all
                    </p>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NewsArticleId"></label>
                        <input asp-for="NewsArticleId" class="form-control" placeholder="Article Title" />
                        <span asp-validation-for="NewsArticleId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewsTitle"></label>
                        <input asp-for="NewsTitle" class="form-control" placeholder="Article Title" />
                        <span asp-validation-for="NewsTitle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Headline"></label>
                        <input asp-for="Headline" class="form-control" placeholder="Article Headline" />
                        <span asp-validation-for="Headline" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewsContent"></label>
                        <textarea asp-for="NewsContent" class="form-control" placeholder="Article Content" rows="7"></textarea>
                        <span asp-validation-for="NewsContent" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NewsStatus"></label>
                                <select asp-for="NewsStatus" class="form-control" style="cursor: pointer !important">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <span asp-validation-for="NewsStatus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId"></label>
                                <select asp-for="CategoryId" class="form-control" style="cursor: pointer !important">
                                    @foreach (var category in Model.Categories)
                                    {
                                        <option value="@category.CategoryId">@category.CategoryName</option>
                                    }
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label">Select Tags</label>
                        <div class="selectgroup selectgroup-pills">
                            @foreach (var tag in Model.Tags)
                            {
                                <label class="selectgroup-item">
                                    <input type="checkbox"
                                           name="TagIds"
                                           value="@tag.TagId"
                                           class="selectgroup-input"
                                    @(Model.TagIds.Contains(tag.TagId) ? "checked" : "") />
                                    <span class="selectgroup-button">@tag.TagName</span>
                                </label>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewsSource"></label>
                        <div class="input-group">
                            <button class="btn btn-black btn-border" type="button" id="previewImageBtn">
                                Preview
                            </button>
                            <input asp-for="NewsSource" class="form-control" placeholder="Article thumbnail" />
                        </div>
                        <span asp-validation-for="NewsSource" class="text-danger"></span>
                        <div id="imagePreview">
                        </div>
                    </div>

                </div>
                <div class="modal-footer border-0">
                    <button type="button"
                            class="btn btn-primary"
                            id="addNewsArticleButton">
                        Create
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->