@model IEnumerable<ServiceLayer.Models.NewsArticleDTO>
@{
    Layout = "_CommonLayout";
    ViewData["Title"] = "News Article";
}

<section class="breadcrumb-section set-bg" data-setbg="common/img/breadcrumb3.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>News Article</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar" style="padding-top: 0px !important">
                    @await Component.InvokeAsync("CategoryFilter")
                    @await Component.InvokeAsync("RecentNews")

                    </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="@item.NewsSource" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> @item.CreatedDate</li>
                                    </ul>
                                    <h5><a href="@Url.Action("ArticleDetail", "NewsArticle", new {articleId = item.NewsArticleId})">@item.NewsTitle</a></h5>
                                    <p>
                                        @item.Headline
                                    </p>
                                    <a href="@Url.Action("ArticleDetail", "NewsArticle", new {articleId = item.NewsArticleId})" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


